/* General Styles */

.about-us-container{
    padding: 30px 40px;
}
  section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #fff; */
  }
  
  h1,
  h4,
  p {
    margin: 0;
    padding: 0;
  }
  
  h4 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
  }
  
  p {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
  }
   
  /* Section Header */

  .section-header {
    font-size: 2rem;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Section Description */
  .section-description {
    font-size: 1rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.6;
  }
  
  /* Showcase Section */
  .showcase-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }
  
  .showcase-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .showcase-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .showcase-content h4 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .showcase-content p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Destination Grid */
  .destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
  }
  
  .destination-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }
  
  .destination-card img {
    width: 100%;
    height: auto;
  }
  
  .destination-card-details {
    padding: 20px;
  }
  
  .destination-card-details h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .destination-card-details p {
    color: #777;
  }
  
  /* Discover Grid (Team Section) */
  .discover-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
  }
  
  .discover-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .discover-card span.material-icons {
    font-size: 4rem;
    color: #3498db;
    margin-bottom: 15px;
  }
  
  .discover-card h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .discover-card p {
    font-size: 1rem;
    color: #777;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .showcase-container {
      flex-direction: column;
    }
  
    .destination-grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .discover-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  